/* styles/globals.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/images/white-texture.jpg'); /* Path to the image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.counter-box {
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for buttons container */
.button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically on small screens */
  align-items: center; /* Center buttons horizontally */
  width: 100%; /* Take full width on small screens */
}

/* Style for buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0; /* Add vertical margin between buttons */
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Media query for small screens */
@media (min-width: 768px) {
  .button-container {
    flex-direction: row; /* Align buttons horizontally on larger screens */
    justify-content: space-between;
    width: 50%; /* Take 50% width on larger screens */
  }
}

button:hover {
  background-color: #45a049; /* Change color on hover */
}